<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-arrow-up"></i>&nbsp;Back to top</a>
        <h6 class="display-6"&copy;2022 All rights reserved.></h6>
      </div>
      
    </nav>
    </footer>